/*
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
*/

section {
    position: relative;
    border: 1px solid LIGHTGREY;
    padding-top: 37px;
    background: WHITE;
}

section.positioned {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 800px;
    box-shadow: 0 0 15px #333;
}

table {
    border-spacing: 0;
    width: 100%;
}

td+td {
    border-left: 1px solid #eee;
}

th {
    background: #ddd;
    color: #000;
    padding: 5px 25px;
    
}

td{
    border-bottom: 1px solid LIGHTGREY;
    color: #000;
    padding: 5px 15px;
}

th {
    height: 0;
    line-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: transparent;
    border: none;
    white-space: nowrap;
}

th div {
    position: absolute;
    background: transparent;
    color: BLACK;
    padding: 9px 10px;
    top: 0;
    margin-left: -25px;
    line-height: normal;
}

th:first-child div {
    border: none;
}

td {
    height: 20px;
}